.shop-card__container{
    width: 100%;
    background: white;
    padding: 0 0 10px 0;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);

}

.shop__img {
    width: 100%;
    max-height: 155px; /* 好きな最大高さを指定 */
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.shop-articles {
    padding: 0 10px 0 10px ;
}

.shop__name {
    margin: 10px 0 5px 0;
}

.shop__categories{
    margin: 0 0 5px 0;
    font-size: 14px;
    font-weight: normal;

}

.shop__buttons {
    display: flex;
    justify-content: space-between;
}

.shop-rating__container {
    display: inline-block; /* または block */
    display: flex;
    justify-content: start;
    align-items: center;
}

.shop-rating__container::before {
    content: "";
    display: inline-block;
    background: url(../img/star.svg) no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
  }

.form__button{
    display: flex;
    justify-content: center;
    font-weight: normal;
    height: 35px;
    font-size: 14px;
    padding: 4px 15px;
    align-items: center;

}

.heart-icon {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url('../img/heart.svg') no-repeat center;
    background-size: contain;
    cursor: pointer;
    transition: background 0.3s ease;
    border: none; /* 枠線を消す */
    outline: none; /* フォーカス時の枠線を消す */
    background-color: transparent; /* 背景色を透明にする */
    padding: 0; /* 不要な余白を消す */
}

.heart-icon.favorited {
    background: url('../img/heart-filled.svg') no-repeat center;
    background-size: contain;
}
