.shop__content {
    width: calc(25% - 5px); /* 25% - 左右の隙間(10px * 2) */
    padding: 5px;
    box-sizing: border-box;
}

.shop__img {
    width: 100%;
}

.shop__buttons {
    display: flex;
    justify-content: space-between;
}


    /* ドラッグアンドドロップエリアのスタイル */
    .drag-drop-area {
        border: none;
        padding: 20px;
        text-align: center;
        cursor: pointer;
        color: #aaa;
        margin-top: 10px;
        background: white;
    }

    .drag-drop-area.dragover {
        border-color: #000;
        color: #000;
    }

    .drag-drop-area img {
        max-width: 100%;
        height: auto;
        display: none;
        margin-top: 10px;
    }

    /* 評価の星のスタイル */
    .rating-stars {
        display: flex;
        gap: 5px;
        cursor: pointer;
    }

    .rating-stars .star {
        font-size: 30px;
        color: #ccc;
        transition: color 0.2s;
    }

    .rating-stars .star.selected {
        color: #0020ef;
    }


    /* 全体 */
.review-form__wrapper {
    display: flex; /* ショップカードとフォームを横に並べる */
    gap: 30px; /* ショップカードとフォームの間隔 */
  }
  
  /* ショップカード */
  .shop-card__box {
    width: 40%; /* ショップカードの幅 */
    border-right: solid 2px #c7c7c7;
  }
  
  .shop-card__box-heading {
    margin-bottom: 20px; /* 見出しの下のマージン */
  }
  
  /* フォーム */
  .review-form__content {
    width: 60%; /* フォームの幅 */
  }
  
  .review__form {
    padding: 20px; /* フォームのパディング */
    border-radius: 5px; /* フォームの角丸 */
  }
  
  .review__form-items {
    margin-bottom: 20px; /* 各項目の下のマージン */
  }
  
  .review__form-label {
    display: block; /* ラベルをブロック要素にする */
    margin-bottom: 5px; /* ラベルの下のマージン */
  }
  
  .review__form-items-comment{
    background: transparent;
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    resize: vertical; /* テキストエリアの垂直方向のリサイズのみ許可 */
    height: 150px;
    resize: none; 
  }
  
  .review__form-items-title {
    margin-bottom: 10px; /* タイトルの下のマージン */
  }
  .review__form-label-item {
    font-size: 24px;
  }
  
  .form__label--item {
    font-weight: bold; /* タイトルのフォントを太字にする */
  }
  
  .current__image {
    display: flex; /* 画像を flexbox で配置 */
    justify-content: center; /* 画像を中央揃え */
    align-items: center; /* 画像を垂直方向に中央揃え */
    border: 1px solid #ccc; /* 枠線を追加 */
    padding: 10px; /* パディングを追加 */
    border-radius: 5px; /* 角丸を追加 */
  }
  
  .form__group-content {
    margin-top: 10px; /* コンテンツの上のマージン */
  }
  
  .review-form__button-submit {
    background-color: white; /* ボタンの背景色 */
    color: #000; /* ボタンの文字色 */
    padding: 10px 20px; /* ボタンのパディング */
    border: none; /* ボタンのボーダーを削除 */
    border-radius: 23px; /* ボタンの角丸 */
    cursor: pointer; /* ボタンにカーソルをポインターにする */
    font-weight: bold;
    font-size: 18px;
  }