textarea,
input {
    color: #909090;
    font-size: 16px;
    padding-left: 10px;
}

textarea::placeholder,
input::placeholder {
    color: #909090;
    opacity: 1;
    font-family: sans-serif, Meiryo;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: bold;
    font-size: 16px;
}

body {
    max-width: 1280px;
    background: #eee;
    margin: 0 auto;
    padding: 0 60px 25px 60px;
    font-family: sans-serif, Meiryo;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

/* * {
    border: solid 1px red;
} */

.header {
    background: #eee;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

.header__logo {
    color: #0764ff;
    height: 40px;
    text-decoration: none;
    font-weight: bold;
    font-size: 28px;
    align-items: center;
}

.blue-button {
    background-color: #0764ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 6px 20px;
    min-width: 100px;
    transition: all 0.3s ease;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: inherit;
}

.blue-button:hover {
    background-color: #1976d2;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    opacity: 0.9;
}

.hamburger-menu {
    width: 40px;
    height: 40px;
    background-color: #0764ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 2px 9px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
    align-items: center;
}

.hamburger-menu:hover {
    background-color: #1976d2;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.line {
    display: block;

    height: 1px;
    background-color: white;
    margin: 6px 0;
    transition: all 0.3s ease;
}

.line:nth-child(1) {
    width: 50%;
}

.line:nth-child(2) {
    width: 100%;
}

.line:nth-child(3) {
    width: 25%;
}

.header-utilities nav {
    width: 100%;
}

.header-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header-nav__link,
.header-nav__button {
    color: #1976d2;
    font-size: 34px;
    font-family: inherit;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease, opacity 0.3s ease;
}

.header-nav__link:hover,
.header-nav__button:hover {
    color: #0056b3;
    opacity: 0.9;
}

.header-nav__item {
    margin-bottom: 20px;
}

.header-nav__button {
    border: none;
    background: transparent;
    color: #1976d2;
    font-size: 34px;
    font-family: inherit;
    font-weight: 100;
    font-style: normal;
    font-optical-sizing: auto;
    text-decoration: none;
    cursor: pointer;
    touch-action: none;
}

/* モーダル */
button:hover,
button:active {
    opacity: 0.7;
}

.Open {
    background-color: white;
}

.Close {
    width: 40px;
    height: 40px;
    background-color: #0764ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 2px 9px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
    align-items: center;
    color: white;
    font-size: 34px;
    font-weight: lighter;
    margin-left: 0;
}

#Modal {
    border: none;
    border-radius: 9px;
    box-shadow: 0 10px 20px -5px #000;
    width: 100%;
    height: 100%;
}

.inner-modal {
    height: 100%;
    width: 100%;
    display: grid;
    padding: 32px;
}

.button__wrapper {
    display: flex;
    justify-content: flex-start;
}

/* ページネーション */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
}

.pagination li:not(.active) {
    border: 1px solid #e0dfde;
    padding: 4px 12px;
}

.pagination li:not(:last-child) {
    border-right: none;
}

.pagination a {
    color: #2384cf;
    text-decoration: none;
}

.pagination__link {
    text-decoration: none;
}

.active {
    padding: 4px 12px;
    border: 1px solid #2384cf;
    background-color: #2384cf;
    color: #fff;
}
