.attendance__alert--success {
    padding: 10px 30px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
}

.attendance__alert--danger {
    padding: 10px 0;
    border-color: #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
}

.attendance__alert--danger ul {
    margin: 0;
}

.attendance__panel {
    margin: 0 auto;
    width: 70%;
}

.attendance__button {
    width: 100%;
    text-align: center;
}

.attendance__button-submit {
    padding: 5px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.attendance__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.attendance-table {
    margin: 30px auto;
    width: 70%;
    text-align: center;
}

.attendance-table__inner {
    width: 100%;
}

.attendance-table__row {
    border-bottom: 1px solid #ddd;
}

.attendance-table__header {
    padding: 12px;
    width: 20%;
    font-weight: bold;
}

.attendance-table__item {
    padding: 12px;
    width: 20%;
}

.shop__wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 5px; /* 縦横10pxの隙間 */
}

.shop__content {
    width: calc(25% - 5px); /* 25% - 左右の隙間(10px * 2) */
    padding: 5px;
    box-sizing: border-box; /* paddingをwidthに含める */
}

.shop__img {
    width: 100%;
}

.shop__buttons {
    display: flex;
    justify-content: space-between;
}

.search-form {
    display: flex;
    justify-content: end;
    pointer-events: none;
    transform: translateY(-80px);
}

.search-form input,
.search-form select {
    pointer-events: auto; /* 入力フィールドのクリックを有効化 */
}
.search-form__item-input {
    padding-left: 30px; /* テキストの開始位置を調整 */
    background: url('img/loupe.svg') no-repeat 5px center;
    background-size: 20px 20px; /* アイコンのサイズ */
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}

.search-form__item-select {
    appearance: none; /* デフォルトの矢印を削除 */
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('img/v.svg') no-repeat right 10px center; /* 矢印画像を右端に配置 */
    background-size: 8px 8px; /* 矢印のサイズを調整 */
    padding-right: 30px; /* 矢印とテキストの間に余白を確保 */
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 40px;
}


/* 画面幅が768px以下の場合: 3列表示 */
@media (max-width: 768px) {
    .shop__content {
        width: calc(33.333% - 5px); /* 3列表示 */
    }
}

/* 画面幅が480px以下の場合: 2列表示 */
@media (max-width: 480px) {
    .shop__content {
        width: calc(50% - 5px); /* 2列表示 */
    }
}

/* 画面幅が320px以下の場合: 1列表示 */
@media (max-width: 320px) {
    .shop__content {
        width: 100%; /* 1列表示 */
    }
}